html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.img--small {
  transform: scale(0.5);

  @mixin atSmall {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $rust;
}

.height-min {
  min-height: 100vh;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  @mixin atMedium {
    color: white !important;
  }
}

.slick-dots li button:before {
  color: $yellow !important;
}
