.btn {
  color: #fff;
  background-color: $storm;

  &-scroll {
    &:hover {
      color: $rust;
    }
  }

  &--yellow {
    background-color: $yellow;
    color: black;
  }

  &--red {
    background-color: $rust;
  }
}
