.container {
  overflow: hidden;

  &--full-width {
    z-index: -1;
    max-width: 78%;
  }

  &--absolute-full {
    max-width: 100%;
  }

  &--border {
    @mixin atMedium {
      overflow: visible;
    }
  }

  &--narrow {
    max-width: 800px;
  }
}
