.display {
  &-4 {
    font-size: 1.3rem;
    font-weight: 400;

    @mixin atSmall {
      font-size: 1.3rem;
    }

    @mixin atMedium {
      font-size: 1.5rem;
    }

    @mixin atLarge {
      font-size: 2rem;
    }

    @mixin atExtraLarge {
      font-size: 2.4rem;
    }

    &--fog {
      color: $fog;
    }
  }
}
