.primary-nav {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;

    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  &--tm-md {
    margin-top: 1rem !important;
    @mixin atMedium {
      margin-top: 0 !important;
    }
  }

  a {
    color: $storm;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 5px 8px;
    font-size: 0.8rem;
    background-color: rgba(#fff, 0.9);

    &:hover {
      color: #fff;
    }

    @mixin atMedium {
      color: $fog;
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;
    }
  }
}
