.side-nav {
  display: none;

  @mixin atMedium {
    display: block;
    padding: 10px;
    background-color: rgba($rust, 0.3);
  }
  &__title {
    color: $storm;
  }
  &__links {
    display: block;
    line-height: 1.65rem;
    color: $charcoal;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
