.side-nav {
  @mixin atMedium {
    display: block;
    padding: 10px;
    background-color: rgba($charcoal, 1);
  }
  &__title {
    margin-top: 20px;
    color: $fog;

    @mixin atMedium {
      margin-top: 0;
    }
  }
  &__links {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: $charcoal;
    text-decoration: none;
    padding: 0.35rem;
    border-radius: 5px;

    @mixin atMedium {
      margin-bottom: 0.3rem;
      background-color: rgba(#fff, 0.9);
    }

    &:hover {
      text-decoration: none;
    }
  }
}
