.side-nav {
  display: none;

  @mixin atMedium {
    display: block;
    padding: 10px;
    background-color: rgba($rust, 0.3);
  }
  &__title {
    color: $storm;
  }
  &__links {
    display: block;
    font-size: 1.1rem;
    color: $charcoal;
    text-decoration: none;
    padding-bottom: 0.7rem;

    &:hover {
      text-decoration: none;
    }
  }
}
