.text {
  &-storm {
    color: $storm;
  }

  &-rust {
    color: $rust;
  }

  &-handles {
    color: $yellow;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      color: $fog;
    }
  }

  &--icon {
    color: $rust;
  }

  &--sansita {
    font-family: "Sansita Swashed", cursive;
    color: $rust;
  }

  &--no-decoration {
    &:hover {
      text-decoration: none;
    }
  }

  &--hover {
    &:hover {
      transform: scale(0.55);

      @mixin atSmall {
        transform: scale(1.1);
      }
    }
    transition: transform 0.3s ease-in;
  }
}
