.work-item {
  background-color: rgba($fog, 0.4);
  width: 100%;
  margin: 0 0 20px;
  overflow: hidden;
  break-inside: avoid;

  &__title {
    font-weight: 500;
    font-size: 1.3rem;
    color: $rust;
  }

  &__container {
    width: 100%;
    margin: 20px auto;

    @mixin atMedium {
      columns: 2;
      column-gap: 40px;
    }
  }

  &__image {
  }

  &__role {
    font-weight: 400;
    font-size: 1.1rem;
    color: $storm;
  }

  &__date {
    font-weight: 300;
    color: $charcoal;
  }
}
